div{
    margin: 20px;
    align-self: center;
}

body {
    margin: 0;
    background-color:#333;
    font-family: sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background-color: black;
    padding: 1em 0;
    text-align: justify;
    color: gray;
    margin-top: auto;
  }
